<div>
	<div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>File</th>
          <th>Date</th>
          <th>Coverage</th>
          <th>zipSize</th>
          <th>unzippedSize</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="ID">4</td>
          <td data-title="File"><a target="_blank" href="https://storage.googleapis.com/machina-download-3748472/data_2010.csv.zip">data_2010.csv.zip</a></td>
          <td data-title="Date">9/29/16</td>
          <td data-title="Coverage">01/01/10-12/31/10</td>
          <td data-title="zipSize">56.48 mb</td>
          <td data-title="unzippedSize">173.46 mb</td>
        </tr>
        <tr>
          <td data-title="ID">2</td>
          <td data-title="File"><a target="_blank" href="https://storage.googleapis.com/machina-download-3748472/Challenge_Instructions_9-30-16.pdf">Challenge_Instructions_9-30-16.pdf</a></td>
          <td data-title="Date">9/30/16</td>
          <td data-title="Coverage">n/a</td>
          <td data-title="zipSize">n/a</td>
          <td data-title="unzippedSize">294.69 kb</td>
        </tr>
      </tbody>
    </table>
</div>
</div>